<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FrontEnd Starter Pack</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css"
    />
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="stylesheet" href="./css/all.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="main" class="has-background-danger-light">
      <div class="container">
        <div class="section">
          <div class="columns">
            <div class="column has-text-centered">
              <h1 class="title is-size-1">FrontEnd Starter Pack</h1>
              <br />
            </div>
          </div>
          <div class="tabs is-boxed is-centered is-large" id="tabs">
            <ul>
              <li v-for="category in tabs" :id="category.title">
                <a @click="toggle(category, tabs)"
                  ><span>{{category.title}}</span></a
                >
              </li>
            </ul>
          </div>
          <div id="details">
            <div class="columns is-centered">
              <div class="column is-9">
                <div
                  class="row columns is-multiline is-centered"
                  v-if="category.seen"
                  v-for="category in details"
                >
                  <div class="column is-4" v-for="card in category.cards">
                    <div class="card">
                      <div class="card-content">
                        <div class="media">
                          <div class="media-left">
                            <figure class="image is-48x48">
                              <img
                                v-if="inside(card.name)"
                                :src="card.avatar"
                              />
                              <i v-else :class="card.avatar"></i>
                            </figure>
                          </div>
                          <div class="media-content">
                            <p>
                              <span class="title is-4">
                                <a :href="card.documentation">{{card.name}} </a>
                              </span>
                            </p>
                            <p>{{card.subtitle}}</p>
                          </div>
                        </div>
                        <div class="content">
                          {{card.content}}
                          <div class="background-icon">
                            <span class="icon-twitter"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="cardsData.js"></script>
    <script src="v.js"></script>
  </body>
</html>
